  .container {
    margin: 20px auto;
    width: 600px;
    padding: 0px 20px 20px 20px;
    border: 1px dotted black;
  }
  th {
    text-align: left;
  }

.post_container{
    margin: 20px auto;
    width: 600px;
    padding: 0px 20px 20px 20px;
}

#title{
  font-family: Zapf Chancery, cursive;
  
}

ul li {
  list-style: none;
}

a:hover {
  text-decoration: underline;
}

a{
  text-decoration: none;
}

#tagimage{
  width: 20px;
  height: 20px;
}

#title{
  text-align: center;
}

#postbody{
  text-align: center;
  margin: 50px;
}

#tag{
  text-align: center;
  display:inline;
}

#author{
  text-align: center;
}


#home_title{
  width:600px;
  height: 200px;
  background-image:url('http://placekitten.com/600/200');
  color: orange;
}
