  .container {
    margin: 20px auto;
    width: 800px;
    padding: 0px 20px 20px 20px;
    /*border: 1px dotted black;*/
  }

th {
  text-align: left;
}

div.tags{
  width: 600px;
}

li.error{
  color: red;
  font-family: comic;
  list-style: none;
  text-align: left;
}

#user_head{
  text-align: center;
  color: #333333;
  font-family: Copperplate / Copperplate Gothic Light, sans-serif;
}

.post_container{
    margin: 20px auto;
    width: 1000px;
}

#newpost{
  font-size: 2em;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#852585;
  font-family:arial;
  background-color:#852585;
  padding: 5px;
}

#newbutton{
    color:white;
}

#title{
  font-family: sans-serif;
  
}


.taglist {
  list-style: none;
}

a:hover {
  text-decoration: underline;
}

#back{
  margin-bottom: 50px;
}

a{
  text-decoration: none;
}

#tagimage{
  width: 20px;
  height: 20px;
}

#title{
  text-align: center;
  font-size: 5em;
  border-bottom: 1px solid orange;
}

#postbody{
  text-align: center;
  margin: 25px;
  font-family: serif;
  font-size: 2em;
}

#tag{
  text-align: center;
  display:inline;
  font-size: 1em;
}

#author{
  text-align: center;
}


#home_title{
  width:600px;
  height: 200px;
  background-image:url('http://placekitten.com/600/200');
  color: orange;
}
