<h1>Create a new blog post!!!!!!!!!!!!!</h1>
<form action='/posts' method="post">
Title: <input type="text" name="post[title]" placeholder="You gotta give a title man"> <br>
Gimme your story: <br>
<textarea rows="20" cols="50" name ="post[body]" placeholder="Your story goes here">

</textarea ><br>

Tags: <input type="text" name="tags[tag]" placeholder="Separate with a comma"><br>
<input type="submit" value="Make that blog post!">
</form>
<a href="/">Go back home because YOLOSWAG</a>
