<div class='post_container'>
<h1><div id="title"><%= @post.title %></div></h1>


<div id="postbody">
  <%= @post.body %>
</div>

  Tags:<% @post.tags.each do |tag| %>
  <div id="tag"><img src="http://0.tqn.com/d/graphicssoft/1/0/4/M/1/Fall-Leaves-Tag1.png" id="tagimage">
  <a href="/tag/<%=tag.id %>"><%= tag.tag %></a></div>
  <% end %>
  
</div>
